.about__body {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  padding-top: 25px;
  .about__list {
    padding: 0;
    margin: 0;
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }
  }
  .about__item {
    text-align: center;
    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 4 * 15px) / 2);
      margin: 15px;
    }
    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 8 * 15px) / 4);
      margin: 15px;
    }
    &:not(:last-child) {
      @media screen and (max-width: 767px) {
        margin-bottom: 30px;
      }
    }
  }
  .about__column {
    background-color: var(--main-btn-color);
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
    text-align: start;
    margin-top: 30px;
    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }
  .about__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    text-align: start;
    margin-top: 10px;
  }
}
