.hero {
  background-image: url(../images/hero-mobile.jpg);
}
@media (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero-mobilex2.jpg);
  }
}

@media (min-width: 480px) {
  .hero {
    background-image: url(../images/hero-tablet.jpg);
  }
  @media (min-resolution: 2dppx) {
    .hero {
      background-image: url(../images/hero-tabletx2.jpg);
    }
  }
}

@media (min-width: 768px) {
  .hero {
    background-image: url(../images/hero-desktop.jpg);
  }
  @media (min-resolution: 2dppx) {
    .hero {
      background-image: url(../images/hero-desktopx2.jpg);
    }
  }
}
@media screen and (max-width: 768px) {
  .hero__container {
    height: 400px;
  }
  .hero__title {
    padding-top: 118px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 769px) {
  .hero__container {
    height: 600px;
  }
  .hero__title {
    padding-top: 118px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}
.hero__container {
  text-align: center;
}
.hero__title {
  color: var(--main-title-color);
}
// .hero {
//   background-color: var(--second-background);
//   background-image: linear-gradient(
//       rgba(47, 48, 58, 0.4),
//       rgba(47, 48, 58, 0.4)
//     ),
//     url(../images/img.jpg);
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: cover;
//   padding-top: 200px;
//   padding-bottom: 200px;
// }
// .hero__title {
//   font-weight: 900;
//   font-size: 44px;
//   line-height: 1.36;
//   letter-spacing: 0.06em;
//   color: var(--main-title-color);
//   width: 620px;
//   text-align: center;
//   margin-right: auto;
//   margin-left: auto;
// }
// .hero__button {
//   display: block;
//   margin-right: auto;
//   margin-left: auto;
//   margin-top: 30px;
//   padding: 10px 32px;
// }
