.hero__title {
  color: var(--main-title-color);
}
.hero__container {
  text-align: center;
}
.hero {
  display: flex;
  background-image: url(../images/hero-mobile.jpg);
}
@media (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero-mobilex2.jpg);
  }
}

@media (min-width: 480px) {
  .hero {
    background-image: url(../images/hero-tablet.jpg);
  }
  @media (min-resolution: 2dppx) {
    .hero {
      background-image: url(../images/hero-tabletx2.jpg);
    }
  }
}

@media (min-width: 769px) {
  .hero {
    background-image: url(../images/hero-desktop.jpg);
  }
  @media (min-resolution: 2dppx) {
    .hero {
      background-image: url(../images/hero-desktopx2.jpg);
    }
  }
}
@media screen and (max-width: 767px) {
  .hero__container {
    height: 400px;
    padding-top: 20px;
  }
  .hero__title {
    padding-top: 98px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
  }
  .panel-contacts {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  .hero__container {
    height: 600px;
  }
  .hero__title {
    padding-top: 200px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}
