:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --third-title-color: #2196f3;
  --main-background: #e5e5e5;
  --second-background: #2f303a;
  --main-logo-color: #000000;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --main-btn-color: #f5f4fa;
}
